VITE_API_BASE_URL=http://localhost:4000/api
VITE_CHAIN_ID=11155111
VITE_CHAIN_LABEL=Sepolia
VITE_CHAIN_RPC_URL=https://rpc.sepolia.org
VITE_EXPLORER_BASE_URL=https://sepolia.etherscan.io
VITE_MARKET_ADDRESS=
VITE_UTILITY_TOKEN_ADDRESS=
VITE_CARBON_TOKEN_ADDRESS=
VITE_ASSESSOR_ADDRESS=
VITE_EXPECTED_SELLER_ADDRESS=0x2910A663A02c055a84F1d95904318ac265F50135
